body{
  box-sizing: border-box;
  margin: 0;
  padding: 0 25%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  padding: 5% 10%;
  margin: 10px;
  border: 2px solid rgb(160, 145, 145);
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(236, 235, 226);
}
/* .entryWrapper {
   margin: 0 auto; 
} */

.listWrapper {
  margin: 10px auto;
  border: 2px solid rgb(160, 145, 145);
}

.listItem {
  margin: 10px 5px;
}

.innerWrapper {
  margin: 0 auto;
}

.entryWrapper input, button {
  border-radius: 5px;
}

.entryWrapper input {
  margin-right: 10px;
}

.entryWrapper button {
  background-color: rgb(114, 206, 142);
}